/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');


#portfolio h1,
#portfolio h2,
#portfolio h3,
#portfolio h4,
#portfolio h5,
#portfolio h6 {
	font-weight: normal; /* h태그는 기본이 bold인데 이걸 빼려고 */
}

/* --------------------------------- */

.work-item {
  width: 300px;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
  box-shadow: 0 0 10px #bbb;
}
.work-item:hover img {
  filter: blur(2px);
}
.work-item img {
	width: 300px;
	height: 400px;
  transition: 0.5s;
}


.detail {
	background-color: rgb(240, 240, 240);
	position: absolute;
	 /* HTML의 모든 요소는 position:absolute로 주면 display속성이 inline-block으로 바뀐다 */
	width: 100%;
	bottom : -75px;
	/* bottom: 0; 다 작업하고 주석하기 */
	left : 0;
	height: 35%;
	transition: 0.5s; /* 하얀색 detail 영역이 부드럽게 움직이도록  */
	/* 상하 좌우 */
	padding: 5px 20px; /* 이거 때문에 box-size : borderbox */
	
}

* {
	box-sizing: border-box;
}

.work-item:hover .detail {
	bottom : 0;
}

/* title */
.title {
  margin-top: 7px;
	position: relative;
}
.title h2 {
	font-size: 10px;
	color: #888;
	line-height: 1.2em;
  font-size: 13px;
}
.title h2 em {
	/* display: block; */
	font-style: normal;
	/* margin-bottom: 5px; */
	color: #000;
	font-weight: 700;
  font-size: 15px;
  margin-right: 10px;
}

.title p {
  color: #000;
  margin: 0;
}

.title p:nth-of-type(1) {
  font-size: 13px;
}
.title p:nth-of-type(2) {
  font-size: 12px;
}

.add-cart {
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  margin-top: 5px;
}
.add-cart:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
