@media (min-width : 1500px) {
  .typing-outter {
    width: 700px;
  }
  aside a {
    width: 50px;
    height: 50px;
  }
}

@media (max-width : 768px) {
  main {
    width: 100%;
    overflow: hidden;
  }

  /* Aside Navigation */
  aside {
    display: block;
    width: 100%;
  }
  nav {
    margin: 0;
    padding: 30px 0;
    text-align: center;
  }
  aside a {
    display: inline-block;
    margin: 0 18px;
    width: 25px;
    height: 25px;
  }
  nav a::after {
    font-size: 12px;
  }

  /* Section */
  section {
    width: 100%;
    margin-top: 110px;
    height: fit-content;
    width: 90%;
  }

  /* Article : Intro */
  .intro1 video {
    width: 100%;
  }
  .typing-outter {
    width: 100%;
  }
  .intro2-1 {
  }

  /* Article : Profile */
  .profile p em {
    display: block;
  }

  /* Article : Portfolio */
  .portfolio-items-inner>div {
    display: block;
  }
  .portfolio-items>div {
    display: block;
  }
  .portfolio-item {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .portfolio-item .pi-img {
    background-position: top center;
  }

  /* Article : Contact */
  .contact-body {
    width: 100%;
    padding: 0;
  }
  .contact-body form input[type=text],
  .contact-body form textarea {
  display: inline-block;
  width: 75%;
  }
  .contact-body form input[type=button] {
    width: 65%;
    margin-bottom: 30px;
  }

  /* Footer */
  .modal-thanks {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    height: 150px;
    padding: 12px;
  }
  .modal-thanks p {
    font-size: 11px;
    line-height: 25px;
  }
}